/* Other rules */
body {
  /* display: flex;
  align-items: center;
  justify-content: center; */
  /* align-content: center; */
}
.container {
  border: solid 3px rgb(103, 124, 124);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  height: 800px;

  /* display: flex; */
  /* align-content: center; */
  /* align-items: center;
  justify-content: center; */
}
.list-container {
  /* display: inherit; */
  /* display: flex;*/
  overflow: hidden;
  border: solid 3px cyan;
  max-height: 40%;
  margin: 1% auto;
  overflow-y: scroll;

  /* padding-top: -200px; */
}
ul {
  display: inherit;
  flex-shrink: 0;

  border: solid 3px rgb(46, 90, 90);
}
li {
  display: inherit;
  text-align: center;
  border: solid 3px rgb(90, 46, 88);
}
.form {
  border: solid 3px rgb(149, 147, 255);
  display: inherit;
  justify-content: flex-end;
  text-overflow: ellipsis;
  width: 60%;
  height: 35px;
  /* flex-shrink: 0; */
}
.text-input {
  display: inherit;
  width: 80%;
}
.add-button {
  display: inherit;
  width: 20%;
  justify-content: center;
}
.successful-promise {
  text-decoration: line-through;
}

/* have-not-been-done-yet {
} */
